.App {
  text-align: center;
}
.headerWrapper{
  max-width: 100%;
  height: 50px;
  background-color: rgb(16, 16, 101);
}
.headerContainer{
  max-width: 1000px;
  height: 100%;
  margin: auto;
}
.homeWrapper{
  max-width: 1000px;
  height:calc(100vh - 50px) ;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  flex: .7;
  height: 100%;
}
aside{
  flex: .29;
  height: 100%;
  background-color: blue;
}


.webcam{
  width: 100%;
  height: 95%;
  object-fit: cover;
}

